<template>
  <div class="content">
    <a href="#"><img id="logo" src="../assets/logo.svg"/></a>
    <h1 class="main" v-bind:class="{ white: whiteClass, red: redClass, yellow: yellowClass }">{{ main }}</h1>
    <p class="secondary">{{ secondary }}</p>
    <div class="form">
      <input class="input" v-model="url" type="text" placeholder="https://boring-link.whocares" name="url" id="url"/>
      <span v-on:click="convertLink" class="button">TRANSFORM</span>
    </div>
    <div id="nav">
      <a class="blue" href="/#/track">Track Your Creative Link</a>
      <a class="yellow" href="/#/customize">Customize Your Creative Link</a>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  export default {
    name: 'Home',
    data() {
      return {
        main: 'Transform Anything.',
        secondary: 'Track, change, and shorten your URL’s for free',
        url: null,
        whiteClass: true,
        redClass: false,
        yellowClass: false
      }
    },
    methods: {
      hello() {
        this.main = "hello"
      },
      convertLink() {
        axios.post("https://link-api.tcff.co/link/new", {"url": this.url}).then((response) => {
          this.yellowClass = true;
          this.main = "g.tcff.co/"+response.data.data.code;
          this.secondary = "Your Creative Link Code is " + response.data.data.code;
        }).catch((error) => {
          this.redClass = true;
          this.main = "Somethings Wrong.";
          this.secondary = "Something went wrong, please try again later.";
        });
      }
    }
  }
</script>

<style></style>
